* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MonoLisa";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
}

.cursor {
  height: 20px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  position: absolute;
  transition: all linear 0.2s;
}

h1 {
  font-size: 9vw;
  font-weight: 400;
}
